body {
	background: #f5f5f5;
	font: 24px 'Open Sans', sans-serif;
	margin: 0;
}

#my-app {
	position: relative;
}

.height {
	height: 100vh;
    padding-top: 1px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-hello {
	margin: 10px 0;
	font-size: 2rem;
}

.form {
	display: block;
	text-align: center;
	width: 500px;
	margin: 0 auto;
}

.provider {
	height: 100vh;
}

.provider > div {
	height: 200vh;
}

.hello {
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    font-size: 5rem;
    min-height: 138px;
}

.input {
	text-align: center;
	font-size: 1.6rem;
	padding: 24px 0;
	width: 100%;
	border: none;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.22);
}

.footer {
	font-size: 1rem;
    color: #bfbfbf;
    line-height: 2;
}