body {
	margin: 0;
}

h1 {
	font-family: 'Merienda';
	font-size: 6rem;
	width: 100%;
	text-align: center;
	margin-top: 50vh;
	font-weight: 300;
}

.provider {
	height: 100vh;
}

.provider > div {
	height: 150vh;
}

img {
	width: 60px;
	position: absolute;
	opacity: 0;
	margin-top: 25%;
	animation: move 2s infinite ease-in;
}

img:nth-child(2) {
	top: 10%;
	left: 10%;
}

img:nth-child(3) {
	animation-delay: 0.3s;
	top: 10%;
	left: 40%;
}

img:nth-child(4) {
	animation-delay: 0.1s;
	right: -10%;
	top: -45%;
}

img:nth-child(5) {
	animation-delay: 0.4s;
	top: -80%;
	left: 26%;
}

img:nth-child(6) {
	animation-delay: 0.2s;
	top: 20%;
	right: 30%;
}

img:nth-child(7) {
	animation-delay: 0.8s;
	right: 10%;
	top: 30%;
}

img:nth-child(8) {
	animation-delay: 0.3s;
	top: 40%;
	left: -10%;
}

img:nth-child(9) {
	animation-delay: 0.2s;
	top: -10%;
	left: 50%;
}

img:nth-child(10) {
	animation-delay: 0.3s;
	top: -12%;
	left: 20px;
}

img:nth-child(11) {
	animation-delay: 0.1s;
	top: -20px;
	left: 22%
}

img:nth-child(12) {
	animation-delay: 0.3s;
	left: 3%;
	top: 30%;
}

img:nth-child(13) {
	animation-delay: 0.222s;
	top: -40px;
	left: -18%;
}

img:nth-child(14) {
	animation-delay: 0.88s;
	right: 40%;
	top: -20px;
}

img:nth-child(15) {
	animation-delay: 0.34s;
	top: 120px;
    right: 110px;
}

img:nth-child(16) {
	animation-delay: 0.44s;
	left: 50%;
	top: 220px;
}

img:nth-child(17) {
	top: 50%;
    left: 30%;
}

img:nth-child(18) {
	top: 50%;
    right: 60%;
}

img:nth-child(19) {
    bottom: 10%;
    right: 300px;
}

img:nth-child(20) {
    top: 60%;
    right: 10%;
}

img:nth-child(21) {
    top: 20%;
    right: -13%;
}

img:nth-child(22) {
    top: 40%;
    left: 50%;
}

@keyframes move {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotateZ(160deg);
		opacity: 0;
	}
}